* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  background: #faf9f6;

  color: #121c28;
}

a {
  color: inherit;
}

button,
input {
  font-family: inherit;
}